# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.DS_Store

# venv
.venv/
.env/

# Build/Cache
*.so
*.o
*.out
*.log

# Training artifacts
*.pth
*.pt
runs/
outputs/
checkpoints/

# Raw datasets (如果你把数据放进了 repo 里，避免推上去)
data/ucf101/mpeg4_videos/
data/hmdb51/mpeg4_videos/
